* {
  box-sizing: border-box;
}

body {
  background-color: #1E1F21;
  color: #fff;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-size: smaller;
  margin: 0 auto;
}

#content {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

#content div {
  color: #B2B2B2;
}

.lang {
  margin: 2rem 15px;
  display: inline-block;
  position: relative;
}

.lang__title {
  color: #00416a;
  transition: all .3s;
}
.lang__title:hover {
  color: #AFAFAF;
  background-color: #fff;
}
.lang__title > svg {
  rotate: 90deg;
}

.lang__item {
  display: none;
  position: absolute;
  top: 25px;
  left: -30px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: #fff;
  z-index: 999;
  padding: 5px;
  border-radius: 5px;
  
  list-style-type: none;
  margin: 0;
}

.lang:hover > .lang__item {
  display: block;
}

.lang__items {
  margin: 5px 0;
}

.lang__link {
  text-decoration: none;
}

/* Desktop styles */
@media only screen and (max-width: 768px) {
  div#sitelogo {
    width: 50px;
    position: absolute;
    top: -5px;
    left: 30px;
  }
}

@media only screen and (min-width: 769px) {
  div#sitelogo {
    margin-left: 3rem;
    position: absolute;
    top: -5px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1.3em;
    width: 100%;
  }

  code,
  pre {
    font-size: 0.9em;
  }

  img {
    display: block;
    height: 100%;
    margin: 0 auto;
    max-width: 100%;
  }

  blockquote {
    font-size: x-large;
  }

  .icon-24x24:hover {
    background-color: #f8f8f8;
    border-top: 2px solid #00416a;
    padding-top: 2px;
  }

  .card-content {
    margin-left: 25px;
  }
}

/* High-DPI mobile styles */
@media only screen and (max-width: 768px) {
  body {
    font-size: 1.2em;
    max-width: 100%;
  }

  img {
    max-width: 100%;
  }

  blockquote {
    font-size: x-large;
  }

  .card-content {
    margin-left: 25px;
  }
}

/* Low-DPI mobile styles */
@media only screen and (max-width: 448px) {
  body {
    font-size: 1.2em;
    max-width: 100%;
  }

  div#sitelogo {
    left: 10px;
  }

  img {
    max-width: 100%;
  }

  blockquote {
    font-size: x-large;
  }

  .card-content {
    margin-left: 0;
  }
}

@media only screen and (max-width: 448px) {
  div.page-nav-item, 
  div.page-nav-spacer {
    margin: 2rem 5px !important;
  }

  div#page-nav {
    padding: 0 !important;
  }
}

#sitelogo {
  margin: 16px auto 0 auto;
  width: 64px;
}

.glyph:hover {
  background-color: #f8f8f8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-top: 2em;
  padding-top: 0.15em;
}

h1 {
  font-size: 2em;
}

a {
  color: #00416a;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a:visited {
  color: #423189;
}

a:hover {
  background-color: transparent;
  color: #AFAFAF;
}

h1.post-title {
  border-top: 2px solid #3f3f3f;
  font-size: 2.5em;
}

h2.list-title > a {
  color: #ffffff;
}

h2.list-title > a:visited {
  color: #423189;
}

h2.list-title > a:hover {
  background-color: transparent;
  color: #719cff;
}

a.read-more {
  border: none;
  background-color: #3E12E3;
  border-radius: 5px;
  color: #ffffff;
  padding: 0px 40px;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
  line-height: 2.7em;
  font-weight: 600;
  font-size: 1em;
  outline: none;
  position: relative;
  font-size: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
a.read-more:after {
  content: "";
  position: absolute;
  height: 100%;
  left: 50%;
  right: 50%;
  border-radius: inherit;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
a.read-more:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  background-color: inherit;
  border-radius: 10px;
  z-index: -1;
  box-shadow: inset 0 -6px 10px rgba(0, 0, 0, 0.75);
}
a.read-more:hover:after,
a.read-more.hover:after {
  left: 0;
  right: 0;
}

section.content {
  line-height: 1.5em;
}

p.post-date {
  background-color: #00416a;
  color: #dee5e9;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-size: smaller;
  margin: 0 0 2.5em 0;
  padding: 0.25em 0.5em;
}

a.p-author {
  color: #dee5e9;
  text-decoration: none;
}

h2.list-title {
  margin: 2em 0 0.5em 0;
  padding: 0;
}

p.list-post-date {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-size: smaller;
  margin: 1em 0 1.5em 0;
  padding: 0;
  text-transform: uppercase;
  color: #B2B2B2;
}

#footer {
  width: 100%;
}

.copyright {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-size: smaller;
  margin-top: 2em;
  text-align: center;
}

div.h-card {
  box-shadow: 0 5px 5px #ccc;
  margin: 100px auto;
  min-height: 150px;
  padding: 25px;
  width: 90%;
}

img.u-photo {
  width: 100px;
}

.card-content {
  display: inline-block;
}

.card-name {
  margin: 0;
}

.card-subhead {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-size: smaller;
  text-transform: uppercase;
}

blockquote {
  color: #00416a;
  background-color: #dee5e9;
  border-left: 25px solid #00416a;
  line-height: 1.25em;
  margin: 2em auto;
  padding: 1% 5%;
  width: 100%;
}

code {
  font-family: "Fira Code", "Courier New", Courier, monospace;
  padding: 0.1em 0.2em 0.1em 0.2em;
}

pre {
  background-color: #00416a;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #dee5e9;
  font-size: 0.8em;
  margin: 2em auto;
  overflow-x: auto;
  padding: 1em;
  width: 100%;
}

hr.post-underline {
  border: 0;
  border-top: 1px solid #ccc;
  display: block;
  height: 1px;
  padding: 0;
  margin: 2em auto;
  width: 75%;
}

a.permalink {
  border-radius: 100%;
  text-decoration: none;
}

.post-tag {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-size: small;
  text-transform: uppercase;
}

a.post-tag {
  background-color: #dee5e9;
  border: 1px solid #7b9cb0;
  border-radius: 5px;
  color: #316586;
  padding: 0.15em 0.3em 0.1em 0.3em;
  text-decoration: none;
}

a.post-tag:hover {
  background-color: #7b9cb0;
  color: #fff;
}

.list-heading-type {
  font-size: large;
  text-transform: uppercase;
}

.list-heading-tag {
  background-color: #dee5e9;
  border: 1px solid #7b9cb0;
  border-radius: 5px;
  color: #316586;
  font-size: large;
  font-weight: 100;
  padding: 0.25em 0.5em;
  text-transform: uppercase;
}

div#site-header > h1 {
  font-size: 2.5em;
  line-height: 1em;
  margin-top: 1em;
  text-align: center;
}

div#site-header > p {
  margin-top: 0;
  margin-bottom: 1em;
}

div#page-nav {
  text-transform: uppercase;
  width: 100%;
  background-color: #fff;
  padding: 0 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

}

#pagination {
  font-size: smaller;
  line-height: 1em;
  margin: 0;
  padding: 2em 1em;
}

#page-nav {
  /* align-items: flex-start; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  /* justify-content: space-around; */
  align-items: center;
}

div.page-nav-item,
div.page-nav-spacer {
  flex: 0 1 auto;
  margin: 2rem 10px;
  padding: 0;
}

div.page-nav-item > a {
  color: #00416a;
  display: block;
  text-decoration: none;
  width: 100%;
  transition: all .3s;
}

div.page-nav-item > a:hover {
  background-color: #fff;
  /* background-color: #00416a; */
  color: #AFAFAF;
}

div#pagination {
  display: inline-block;
  margin: 2em 0 0;
  width: 100%;
  text-align: center;
}

div.pagination-item-spacer {
  font-size: 1.2rem;
}

div.pagination-item,
div.pagination-item-spacer {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  width: 20%;
}

div.pagination-item > a {
  color: #b2b2b2;
  display: block;
  text-decoration: none;
}

div.pagination-item > a:hover {
  color: #dee5e9;
}

aside#social {
  border-top: 2px solid transparent;
  display: flex;
  height: 48px;
  margin: 0 auto;
  width: 100%;
}

div#social-icons {
  align-items: center;
  display: flex;
  flex-basis: 414px;
  flex-wrap: wrap;
  height: 24px;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 414px;
  min-width: 288px;
}

.icon-24x24 {
  height: 24px;
  width: 24px;
}

nav#article-skip {
  align-items: flex-start;
  border-top: 1px solid #dee5e9;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-size: smaller;
  justify-content: space-around;
  line-height: 1em;
  margin: 5em 0 0 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

.next,
.prev,
.top {
  flex: 0 1 auto;
  margin: 0;
  padding: 0.5em;
  width: 100%;
}

.next {
  text-align: left;
}

.prev {
  text-align: right;
}

.top {
  border-left: 1px solid #dee5e9;
  border-right: 1px solid #dee5e9;
}

div.next > p,
div.prev > p {
  margin: 0;
  padding: 0;
}

div.next > a,
div.prev > a,
div.top > a {
  color: #00416a;
  text-decoration: none;
}

div.next > a:hover,
div.prev > a:hover,
div.top > a:hover {
  background-color: #00416a;
  color: #dee5e9;
}

div#mc_embed_signup_scroll {
  /* background-color: #538cfa; */
  background-image: radial-gradient(circle at 1.6% 22.05%, #ffa6ff 0, #b583ff 25%, #535bfa 50%, #0034ad 75%, #00156b 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.mc-field-group {
  display: flex;
}

#mc-embedded-subscribe {
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 1em;
  padding: 10px 32px;
  text-decoration: none;
  transition: all .3s;
  cursor: pointer;
  border: 1px solid #000;
}

#mc-embedded-subscribe:hover {
  border-color: #3E12E3;
  background-color: #3E12E3;
}

#mce-EMAIL {
  font-size: 20px;
  font-weight: 300;
  line-height: 1em;
  padding: 10px 32px;
  font-size: 16px;
  border: 1px solid transparent;
  outline: none;
  transition: all .3s;
}

#mce-EMAIL:focus,
#mce-EMAIL:hover {
  border: 1px solid #3E12E3;
}